<div class="col-md-6 col-md-offset-3">
  <div class="edit-review-form">
    <h1>Edit review</h1>

    <%= simple_form_for([@movie, @review]) do |f| %>
      <div id="rating-form" data-score=<%= @review.rating %>>
        <label>Rating</label>
      </div>
      <%= f.input :comment, input_html: { rows: 6 } %>
      <%= f.button :submit, class: "btn-custom2" %>
    <% end %>
  </div>
</div>

<script>
  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'review[rating]',
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>